/.vscode
/assets
/defaultconfigs
/Code
/local
/ldlib
/libraries
/logs
/backups
/natives-windows-x86_64
/patchouli_books
/resourcepacks
/XaeroWaypoints
/XaeroWorldMap
/saves
/screenshots
/versions
/PCL
/XaeroWaypoints*
/modernfix
/shaderpacks
/crash-reports
/schematics
/skyblockbuilder
/config/jei/world
/kubejs/README.txt
/mods/probe*
/kubejs/probe
hmclversion.cfg
log4j2.xml
usernamecache.json
usercache.json
TrashSlotSaveState.json
rhino.local.properties
All The Random.json
All The Random.jar
patchouli_data.json
${quickPlayPath}
options.txt
servers.dat
servers.dat_old
observable_announce
*.log
PCL.ini
launcher_profiles.json
/*.jar
/*.json
*.zip
